@import './../../variables';

.meals {
    max-width: 960px;
    width: 90%;
    margin: $common32 auto;
    animation: meals-appear 1s ease-out forwards;
    & ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.MealsLoading {
    margin-top: $common20;
    text-align: center;
    color: black;
    letter-spacing: $common2;
}

.MealsError {
    margin-top: $common20;
    text-align: center;
    color: crimson;
    letter-spacing: $common2;
}

@keyframes meals-appear {
    from {
        opacity: 0;
        transform: translateY($common48);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
