//FONT FAMILY & SIZES
$fontFamily: 'Roboto Condensed', sans-serif;
$weight400: 400;
$weight700: 700;

$common0: 0px;
$common2: 2px;
$common4: 4px;
$common8: 8px;
$common12: 12px;
$common16: 16px;
$common22: 22px;
$common25: 25px;
$common48: 48px;

//COLORS
$backgroundMain: rgb(250, 241, 241);
$basicWhite: rgb(255, 255, 255);
$headerBackground: #ccaa9d;
$headerBoxShadow: rgba(0, 0, 0, 0.25);
$buttonHover: #d89f85;
$badgeColor: #b46e52;
$badgeHover: #a05537;
